---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{% for e in collections.all | sitemapEntries(sitemapExtra, site, i18n) %}  <url>
    <loc>{{ site.url }}{{ e.url | replace("/index.html", "/") }}</loc>
    <lastmod>{{ e.lastmod }}</lastmod>
    <changefreq>{{ e.changefreq }}</changefreq>
    <priority>{{ e.priority }}</priority>
{% for a in e.alternates %}    <xhtml:link rel="alternate" hreflang="{{ a.hreflang }}" href="{{ a.href }}" />
{% endfor %}  </url>
{% endfor %}</urlset>
